body {
    background-color: #8ecae6;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-size: medium;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

div {
    margin: 5%;
    border: 4px solid #ffb703;
    border-radius: 10px;
}

div:hover {
    box-shadow: 0 0 50px #fb8500;
}