body {
    background-color: rgb(34, 5, 5);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-size: medium;
}

#cards {

    display: flex;
    flex-wrap: wrap;
}

div {

    margin: 3%;
    border: 2px solid gray;
    border-radius: 6px;
}

div:hover {
    box-shadow: 0 0 50px #f8f8f8;
}