* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

/*mobile*/
header {
    background-color: #2c5784;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

#mode {
    position: absolute;
    top: 3rem;
    right: 4.5rem;
    width: 60px;
    background-color: #2c5784;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    padding: 0 20px;
}

nav {
    background-color: #36454f;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;

}

nav ul {
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

nav.active {
    background-color: white;
}

.sidebyside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
    background-color: #219ebc;
    text-align: center;
    margin-top: 38px;
    border: #fb8500 solid;
    border-radius: 15px;
}

.information {
    background-color: #219ebc;
    text-align: center;
    font-size: 30px;
    padding: .5rem;
    margin: 40px 30px 10px;
    border: #fb8500 solid;
    border-radius: 15px;
}

.information p {
    margin-top: 30px;
    align-items: center;
}

main.hero {
    grid-template-columns: 1 / span 2;
}

main h2 {
    grid-template-columns: 1 / span 2;
}

main iframe {
    grid-template-columns: 1 / span 2;
}

footer {
    margin-top: 1000px;
    max-width: 640px;
}

#lastModified {
    font-size: 18px;
    color: yellow;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: grab;
}

ol::before {
    content: url();
}

h3 {
    padding: 20px;
}

#weather-icon img {
    width: 50px;
    margin-bottom: -2%;
    margin-top: 5%;
}

.weather {
    margin-top: 2%;
    margin-left: 5%;
}

li a {
    padding-right: 10px;
    border-right: 1px solid gray;
}