* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 200;
}

header {
    background-color: #cedbcd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #8ecae6;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255 0.2);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}