* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Great Vibes", serif;
    font-weight: 200;
}

main {
    display: grid;
    width: 100%;
    background-color: #DEEFE7;
    font-family: "Great Vibes", serif;
    gap: 1rem;
    margin: 5rem auto;
    padding: 1rem;
}

body {
    display: block;
    margin: 8px;
    font-size: 28px;
}

form fieldset {
    margin: 2rem 0;
    border: var(--bord1);
    font-family: "Great Vibes", serif;
}

form input {
    font-size: 28px;
}

form legend {
    color: var(--color);
    font-family: "Great Vibes", serif;
    font-size: 40px;
    margin-bottom: 20px;
}

#submit {
    border: var(--bord);
    background-color: #fff;
    color: black;
    font-family: "Great Vibes", serif;
    font-size: 30;
    border: black solid;
}

#message {
    color: blue;
    font-family: "Great Vibes", serif;
    padding-left: 5px;
}